.bg-blue {
  background-color: #2c3e50;
}
.text-blue {
  color: #2c3e50;
}
.bg-dark-blue {
  background-color: #1a252f;
}
.active,
.bg-main {
  background-color: #1abc9c !important;
}
.line {
  height: 4px;
  width: 80px;
}
.icon {
  border: 1px white solid;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.portfolio-image:hover .layer {
  opacity: 1;
}
.layer {
  background-color: #1abc9ce6;
  opacity: 0;
  cursor: pointer;
  transition: 0.6s opacity;
}

input.form-control:focus {
  box-shadow: none;
}
label {
  color: #1abc9ce6;
  margin-bottom: 7px;
  transition: 0.6s top;
}
.top-40 {
  top: 40px !important;
}
/* {
  background-color: #1abc9c !important;
} */

@media screen and (max-width: 768px) {
  form {
    width: 100% !important;
  }
}
